@page
@model Mission09_red328.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you! Your order will be delivered soon.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>